html, body, #root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--pte-root-bg-color, #f9f9f9);
  color: var(--pte-text-color, #333);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.btn {
  background-color: var(--pte-btn-bg-color, #007bff);
  color: var(--pte-btn-text-color, #fff);
  border: none;
  padding: 6px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: var(--pte-btn-hover-bg-color, #0056b3);
}
